header {
    display: flex;
    align-items: center;
    background-color: rgb(36, 36, 36);
    width: 100%;
}

h1 {
    justify-self: center;
    color: rgb(112, 215, 255);
}

figure {
    justify-self: flex-start;
}

figure.header-logo {
    animation: rotate 12s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}