.buttonContainer {
    display: inline-block;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 2;
}

.todoButton {
    color: rgb(112, 215, 255);
}

.todoButtonRotated{
    color: rgb(112, 215, 255);
    animation: rotating-button 0.2s linear;
    transform: rotate(135deg);
    box-shadow: 0 0 10px 5px rgb(112, 215, 255);
}


@keyframes rotating-button {
    from { transform: rotate(0deg);}
    to { transform: rotate(135deg);}
}

