body {
  margin: 0;
  font-family: 'F1', sans-serfif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(56, 56, 56);
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'F1';
  src: url(../public/Formula1-Regular-1.ttf)
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

